doctype html
html
	head
		title Chau Huynh
		meta(name="description", content="Chau Huynh's Personal Website")
		// meta(name="keywords", content="")
		meta(charset="utf-8")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", type="text/css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:300,500,700|Oswald", type="text/css")
		link(rel="stylesheet", href="assets/css/main.css", type="text/css")

	body
		header

			.jumbotron
				nav.text-right
					a(href="#about") About
					a(href="")  Work
					a(href="")  Contact

				.container
					#name Chau Huynh
					#slogan 
						span Art 
						span  //
						span  Business 
						span  //
						span  Photography

		.main-content

			section.about#about
				h3 About Me
				
				.row
					.face-lockup
						.icon.icon1
						.icon.icon2
						.face
						.icon.icon3
						.icon.icon4
							
				.row.about-text
					p <strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Sed sit amet nisi lacus. In fringilla bibendum diam, ut accumsan quam egestas ut. Donec et eleifend massa. In quis lobortis nisi, et porttitor turpis. Fusce varius turpis et justo pellentesque convallis. Quisque vitae laoreet purus. Mauris turpis quam, dapibus vitae nibh non, convallis elementum augue. Curabitur ultricies magna mi, ac iaculis justo dignissim id.
				
				.row.skills-lockup
					h3 Skills
					.skill-unit
						.skill-label Communication
						.skill-icons.skill-8
							span
							span
							span
							span
							span
							span
							span
							span
							span
							span
					.skill-unit
						.skill-label Organization
						.skill-icons.skill-9
							span
							span
							span
							span
							span
							span
							span
							span
							span
							span
					.skill-unit
						.skill-label Marketing
						.skill-icons.skill-8
							span
							span
							span
							span
							span
							span
							span
							span
							span
							span
					.skill-unit
						.skill-label Administration
						.skill-icons.skill-8
							span
							span
							span
							span
							span
							span
							span
							span
							span
							span
					.skill-unit
						.skill-label Customer Service
						.skill-icons.skill-6
							span
							span
							span
							span
							span
							span
							span
							span
							span
							span
					.skill-unit
						.skill-label Teamwork
						.skill-icons.skill-7
							span
							span
							span
							span
							span
							span
							span
							span
							span
							span
					.skill-unit
						.skill-label Finance
						.skill-icons.skill-9
							span
							span
							span
							span
							span
							span
							span
							span
							span
							span
					.skill-unit
						.skill-label Leadership
						.skill-icons.skill-7
							span
							span
							span
							span
							span
							span
							span
							span
							span
							span

		footer
			.container
				.row
					a(href="#about") About
					a(href="")  Work
					a(href="")  Contact
				.row
					h4 All Content Copyright 2015 | Designed by Quan Huynh
			
		script(src="https://code.jquery.com/jquery-2.1.3.min.js")
		script(src="assets/js/nicescroll/jquery.nicescroll.js")
		script(src="assets/js/functions.js")
